.cert {
  display: grid;
  justify-content: center;

  &__title {
    margin-top: 30px;
    text-align: center;
  }

  &__box {
    width: 660px;
    display: grid;
    gap: 10px;
    margin-top: 45px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: $tab-port-tiny) {
  .cert {
    &__box {
      width: 550px;
    }
  }
}

@media screen and (max-width: $phone-huge) {
  .cert {
    &__box {
      width: 500px;
    }
  }
}

@media screen and (max-width: $phone-shovel) {
  .cert {
    &__box {
      width: 430px;
    }
  }
}

@media screen and (max-width: $phone-big) {
  .cert {
    &__box {
      width: 400px;
    }
  }
}

@media screen and (max-width: $phone) {
  .cert {
    &__box {
      width: 390px;
    }
  }
}

@media screen and (max-width: $phone-middle) {
  .cert {
    &__box {
      width: 365px;
    }
  }
}
