.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  &__box {
    width: 1440px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    .titleBox {
      background-color: $background-light;
      color: $white;
      position: relative;
      width: 500px;
      height: 200px;
      margin-right: 330px;
      border-radius: 30px;
      text-align: center;
      line-height: 28px;
      padding: 10px;
    }
    .heroImg {
      position: absolute;
      background-size: cover;
      width: 900px;
      height: 600px;
      z-index: 0;
      background-position: center;
    }
  }
}

@media screen and (max-width: $tab-port-middle) {
  .hero {
    &__box {
      width: 900px;
      height: 500px;
      .titleBox {
        width: 350px;
        height: 250px;
        margin-right: 250px;
      }
      .heroImg {
        width: 700px;
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: $tab-port) {
  .hero {
    margin-top: 40px;
    &__box {
      width: 800px;
      height: 450px;
      .titleBox {
        width: 300px;
        height: 300px;
        margin-right: 340px;
      }
      .heroImg {
        width: 750px;
        height: 450px;
      }
    }
  }
}

@media screen and (max-width: $tab-port-small) {
  .hero {
    &__box {
      width: 650px;
      height: 400px;
      .titleBox {
        width: 320px;
        height: 280px;
        margin-right: 260px;
      }
      .heroImg {
        width: 650px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: $phone-big) {
  .hero {
    &__box {
      width: 400px;
      height: 400px;
      .titleBox {
        width: 260px;
        height: 50px;
        margin-right: 100px;
        margin-bottom: 20px;
      }
      .titleBox h2 {
        // color: $black;
        font-size: 24px;
      }
      .titleBox p {
        display: none;
      }
      .heroImg {
        width: 400px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: $phone-middle) {
  .hero {
    &__box {
      width: 350px;
      height: 350px;
      .titleBox {
        width: 240px;
        height: 50px;
        margin-right: 100px;
        margin-bottom: 20px;
      }
      .titleBox h2 {
        // color: $black;
        font-size: 22px;
      }
      .heroImg {
        width: 350px;
        height: 280px;
      }
    }
  }
}
