.hero {
  display: flex;
  justify-content: center;
  width: 100%;

  &__titleBox {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  &__box {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .titleBox {
      display: flex;
      justify-content: space-between;
      text-align: center;
      line-height: 28px;
      width: 900px;
      margin-top: 40px;
      margin-bottom: 40px;
      &__par {
        width: 660px;
        line-height: 22px;
        .bki {
          margin-bottom: 15px;
        }
      }
    }
    .heroImg {
      background-size: cover;
      width: 900px;
      height: 600px;
      z-index: 0;
      background-position: center;
    }
  }
}

@media screen and (max-width: $tab-port) {
  .hero {
    .heroImg {
      width: 750px;
      height: 500px;
    }
    &__box {
      width: 1024px;
      .titleBox {
        max-width: 750px;
        &__par {
          width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: $tab-port-small) {
  .hero {
    &__titleBox {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .heroImg {
      width: 650px;
      height: 400px;
    }
    &__box {
      width: 768px;
      .titleBox {
        max-width: 650px;
        &__par {
          width: 550px;
        }
      }
    }
  }
}

@media screen and (max-width: $tab-port-tiny) {
  .hero {
    .heroImg {
      width: 570px;
      height: 350px;
    }
    &__box {
      width: 570px;
      .titleBox {
        max-width: 570px;
        &__par {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: $phone-huge) {
  .hero {
    .heroImg {
      width: 500px;
      height: 300px;
    }
    &__box {
      width: 500px;
      .titleBox {
        max-width: 500px;
        &__par {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: $phone-shovel) {
  .hero {
    .heroImg {
      width: 450px;
      height: 250px;
    }
    &__box {
      width: 450px;
      .titleBox {
        max-width: 450px;
        &__par {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .hero {
    .heroImg {
      width: 390px;
      height: 300px;
    }
    &__box {
      width: 390px;
      .titleBox {
        max-width: 390px;
        &__par {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: $phone-big) {
  .hero {
    .heroImg {
      width: 400px;
      height: 300px;
    }
    &__box {
      width: 430px;
      .titleBox {
        max-width: 400px;
        &__par {
          width: 250px;
          p {
            text-align: justify;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phone-middle) {
  .hero {
    .heroImg {
      width: 350px;
      height: 270px;
    }
    &__box {
      width: 390px;
      .titleBox {
        max-width: 350px;
      }
    }
  }
}
