.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 15%;
  left: 24%;
  transform: translate(-30%, -30%);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 900px;
  z-index: 1000;
  background-color: $dr-White !important;
  border-radius: 6px;

  &__actions {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    .img {
      max-width: 900px;
    }
  }

  &__header {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    .descr {
      align-items: center;
    }
    .address {
    }
  }
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  background: $grey;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
}
