.contact {
  display: flex;
  justify-content: center;

  &__box {
    margin-top: 25px;
    max-width: 1440px;

    .numberBox {
      margin-top: 20px;
      line-height: 32px;
    }
  }
  &__mapBox {
    margin-top: 30px;
    margin-bottom: 30px;

    .map {
      margin-top: 20px;
      width: 900px;
      height: 600px;
    }
  }
}

@media screen and (max-width: $tab-port) {
  .contact {
    &__box {
      max-width: 750px;
    }
    &__mapBox {
      .map {
        width: 750px;
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: $tab-port-small) {
  .contact {
    &__box {
      max-width: 650px;
    }
    &__mapBox {
      .map {
        width: 650px;
        height: 450px;
      }
    }
  }
}

@media screen and (max-width: $tab-port-tiny) {
  .contact {
    &__box {
      max-width: 570px;
    }
    &__mapBox {
      .map {
        width: 570px;
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: $phone-huge) {
  .contact {
    &__box {
      max-width: 500px;
    }
    &__mapBox {
      .map {
        width: 500px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: $phone-shovel) {
  .contact {
    &__box {
      max-width: 450px;
    }
    &__mapBox {
      .map {
        width: 450px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .contact {
    &__box {
      max-width: 390px;
    }
    &__mapBox {
      .map {
        width: 390px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: $phone-big) {
  .contact {
    &__box {
      max-width: 400px;
    }
    &__mapBox {
      .map {
        width: 400px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: $phone-middle) {
  .contact {
    &__box {
      max-width: 360px;
    }
    &__mapBox {
      .map {
        width: 360px;
      }
    }
  }
}
