.skills {
  display: flex;
  justify-content: center;

  &__icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 920px;
    .item1,
    .item2,
    .item3,
    .item4 {
      display: flex;
      align-items: center;
      flex: 1 1 200px;
      margin: 10px;
    }
    .icon {
      width: 30px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

.system {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    display: flex;
    justify-content: flex-start;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    width: 140px;
    height: 100px;
    border-radius: 70px;

    .icon2 {
      width: 60px;
      height: 50px;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    width: 900px;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
  }
  &__box {
    margin-top: 20px;
    width: 900px;
    margin-bottom: 20px;
    .imgSlide {
      width: 900px !important;
      height: 500px;
      background-color: $black;
    }
  }
}

.viewAllBox {
  text-align: center;
  margin-bottom: 30px;
  &__btn {
    background-color: $background-light;
    border-radius: 8px;
    border-width: 0;
    color: $black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
      background-color: $background-mid;
    }
  }
}

@media screen and (max-width: $tab-port) {
  .slide {
    &__title {
      width: 750px;
    }
    &__box {
      width: 750px;
      .imgSlide {
        width: 750px !important;
        height: 500px;
      }
    }
  }
  .skills {
    &__icons {
      max-width: 770px;
      .item1,
      .item2,
      .item3,
      .item4 {
        flex: 1 1 300px;
      }
    }
  }
}

@media screen and (max-width: $tab-port-middle) {
  .slide {
    &__title {
      width: 900px;
    }
  }
}

@media screen and (max-width: $tab-port-small) {
  .slide {
    &__title {
      width: 650px;
    }
    &__box {
      width: 650px;
      .imgSlide {
        width: 650px !important;
      }
    }
  }
  .skills {
    &__icons {
      max-width: 650px;
    }
  }
}