footer {
  background-color: $grey;
  display: flex;
  justify-content: center;
  .footerBox {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    margin-top: 20px;
    font-family: Mons;
    &__logo {
      margin-top: 20px;
      width: 100px;
      height: 100px;
      background-color: $cold-blue;
      border-radius: 40px;
    }
    &__about {
      max-width: 360px;
    }
    &__contacts {
      max-width: 250px;
    }
  }
}







