footer {
  background-color: $grey; // #4b607f
  display: flex;
  justify-content: center;
  .footerBox {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    padding: 20px;
    &__logoBox {
      display: flex;
      align-items: center;
    }
    &__about {
      max-width: 360px;
    }
    &__contacts {
      max-width: 280px;
    }
  }
}

footer p {
  line-height: 22px;
  // font-size: 16px;
}

footer h5 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

@media screen and (max-width: $tab-port) {
  footer {
    .footerBox {
      width: 940px;
      &__system {
        display: none;
      }
      &__about {
        max-width: 300px;
      }
      &__contacts {
        max-width: 280px;
      }
    }
  }
}

@media screen and (max-width: $tab-port-middle) {
  footer {
    .footerBox {
      width: 940px;
      &__about {
        max-width: 270px;
      }
      &__contacts {
        max-width: 230px;
      }
    }
  }
}

@media screen and (max-width: $phone-shovel) {
  footer {
    .footerBox {
      max-width: 520px;
      &__about {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  footer {
    .footerBox {
      max-width: 430px;

      &__contacts {
        max-width: 150px;
      }
    }
  }
}

@media screen and (max-width: $phone-big) {
  footer {
    .footerBox {
      width: 400px;
      padding: 10px;
      &__logoBox {
        width: 120px;
        .logo {
          width: 110px;
        }
      }
      &__about {
        // max-width: 170px;
        display: none;
      }
      &__contacts {
        max-width: 230px;
      }
    }
  }
}
