footer {
  background-color: $grey;
  display: flex;
  justify-content: center;
  .footerBox {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    // margin-top: 20px;
    padding: 20px;
    &__logoBox {
      display: flex;
      align-items: center;
      .logo {
        width: 150px;
        height: 90px;
      }
    }
    &__about {
      max-width: 360px;
    }

    &__system {
    }
    &__contacts {
      max-width: 280px;
    }
  }
}

footer p {
  line-height: 22px;
  // font-size: 16px;
}

footer h5 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
